body {
  background-color: #111;
  color: #01FF70;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-family: 'Open Sans', sans-serif;
}

textarea {
  outline: 0;
  background-color: #111;
  color: #01FF70;
  border: 2px solid #39CCCC;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  display: block;
  width: 500px;
}

.container {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
}

h1, h3 {
  color: #39CCCC;
}

h1 {
  font-weight: 300;
  margin: 50px 0 20px 0;
}

h3 {
  display: block;
  font-size: 16px;
}

#box1, #box2 {
  word-wrap: break-word;
  font-size: 14px;
  width: 500px;
}

.buttons {
  display: flex;
  width: 500px;
  padding: 10px 20px;
  margin-bottom: 77px;
}

#base64,
#hex {
  width: 220px;
  justify-content: space-around;
  background-color: transparent;
  border: 2px solid #39CCCC;
  color: rgb(204, 57, 167);
  padding: 10px;
  border-radius: 22px;
  margin: 40px auto 10px auto;
  border-radius: 22px;
  font-size: 16px;
  font-weight: bold;
}

#base64:hover,
#hex:hover {
  cursor: pointer;
}

#submit:active, #submit:focus {
  outline: 0;
}

#submit:hover {
  cursor: pointer;
  border-color: #2dfcfc;
  color: #2dfcfc;
}

#box1,
#box2 {
  display: block;
}

#box1 > div,
#box2 > div{
  padding: 20px;
  border: 1px solid #01FF70;
  min-height: 50px;
  border-radius: 5px;
  width: 500px;
}
